html {
  font-family: Georgia;
  /*background-image: url('hype.jpg');*/
  background-size: 100%;

}

header {
  text-align: right;
  margin: 10px;
}

nav {
  border-top: 2px solid black;
  border-bottom: double;
  text-align: center;
}
nav div {
  display: inline-block;
  text-align: center;
  margin: 7px 20px 7px 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

#mainposts {
  float: left;
  display: inline-block;
}

#rightnav a {
  text-decoration: none;
  color: black;
}

#rightnav {
  width: 200px;
  float: right;
  margin-top: 30px;
  display: inline-block;
}
#shortblerb {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

#archive {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

#social {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
}
#social a img{
  display: inline-block;
  width: 30px;
  margin-bottom: 10px;
}

#social a:hover img {
  /*shadow*/
}




