html {
  font-family: Georgia;
  color: white;
}

body {
  margin: 0;
}


@media (max-width: 2000px) {
    #main-background {
      background-image: url("../imgs/me.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0;
      padding: 0;
    }

    #name {
      font-family: Megrim;
      display: relative;
      font-size: 2em;
      color: white;
      font-weight: bold;
    }



    #social-icons {
      text-align: center;
    }

    #social-icons div {
      display: inline-block;
      margin: 1em;
    }

    #social-icons img {
      max-width: 40px;
    }

    #social-icons img:hover {
      opacity: 0.5;
    }

    .main-body {
      height: 55%;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      /*text-align: right;*/
    }

    .main-body p {
      font-family: Julius Sans One;
      font-weight: bolder;
      font-size: 1.4em;
      margin: 1em;
      /*padding-left: 40%;*/
    }

    #aboutme {
      border: 1px solid red;
      position: absolute;
      left: -3000px;
      margin-top: 3%;
      margin-right: 15%;
      transition: left 1s ease;
    }

    #aboutme p {
      padding-left: 40%;
    }

    #projects {
      border: 1px solid red;
      position: absolute;
      left: -3000px;
      transition: left 1s ease;
      margin-top: 6%;
      margin-left: 35%;
      margin-right: 1%;
    }

    #projects div {
      display: inline-block;
    }

    #projects p {
      padding-left: 0;
      text-align: left;
      margin: 0;
      color: white;
    }

    #projects img {
      max-width: 250px;
      opacity: 0.7;
    }

    #projects img:hover {
      opacity: 1;
    }

    #title {
      display: relative;
      font-size: 3em;
      color: white;
      text-align: center;
      font-family: Fredericka the Great;
      top: 40%;
    }

    #btn-area {
      text-align: center;
      position: relative;
    }

    #btn-area button {
      transition: background 0.5s ease;
      border: 2px solid white;
      background: transparent;
      color: white;
      width: 20%;
      max-width: 200px;
      padding: 1.5em 2em 1.5em 2em;
      margin: 1em;
      min-width: 150px;
    }

    button:focus {
      outline: none;
    }

    #btn-area button:hover {
      background: white;
      color: black;
    }
  }


@media (max-width: 1000px) {
  #aboutme {
    margin-right: 5%;
  }
}

@media (max-width: 550px) {
  #title {
    font-size: 2em;
  }

  .main-body {
    text-align: right;
  }

  #aboutme {
    overflow: scroll;
    margin-right: 10%;

    width: 50%;
  }

  #aboutme p {
    padding-left: 0;
    font-size: 1em;
  }

  #projects {
    margin-left: 1%;
    max-width: 70% ;
  }

  #projects div {
    display: block;
    margin-bottom: 5%;
  }

  #projects div p {
    text-align: left;
    font-size: 2em;
    text-decoration: none;
  }

  #projects img {
    display: none;
  }
}