html {
  color: white;
  font-family: Georgia;
  background-color: #17161b;
  margin: 0px;
  font-size: 24px;
}

#maindisplay {
  width: 1024px;
  height: 768px;
  margin: 0px auto;
  background-image: url("../imgs/glasses.jpg");
  background-repeat: no-repeat;
}

#humble {
  position: relative;
  color: #bebdc6;
  font-family: Pacifico;
  font-size: 20px;
}

#position{
  position: absolute;
}

#blog {
  font-family: Cabin Sketch;
  font-size: 40px;
  position: absolute;
  top: 275px;
  left: 150px;
}

#projects {
  font-family: Cabin Sketch;
  font-size: 40px;
  position: absolute;
    top: 275px;
    left: 550px;
}

#aboutme {
  font-family: Cabin Sketch;
  font-size: 30px;
  position: absolute;
    top: 400px;
    left: 365px;
  white-space: nowrap;

}

#links {
  font-family: IM Fell English SC
, Georgia;
  font-size: 20px;
  position: absolute;
  top: 450px;
  left: 500px;
}

/* links start */
a, a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #14CCC7;
}

a:hover {
  color:#FF608C;
  }

